.container{
    text-align: center;
    padding: 100px;
    
}
.banner{
    color: rgb(12, 39, 65);
     font-size:large;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.textover{ 
    color: rgb(51, 13, 205);
    font-size:xx-large;
   position: absolute;
   top: 50%;
   left: 50%;
   
   transform: translate(-50%, -50%);

}
.discount{
    color: red;
    text text-align: center;
    margin-bottom:20px;
     
     font-family: inter;
     font-size: 88px;
     font-weight: 600px;
      
     
}
.image{
    padding: 100px;
    
}
.wellcome{
    color: rgb(241, 240, 247);
    font-size:100px;
   position: absolute;
   top: 200%;
   left: 30%;
   
   transform: translate(-20%, -50%);
}


/*main section style*/
.place{
    padding: 130px;
    border-radius: 10px;
    background-color: burlywood;
    text-align: center;
}
.description{
padding-bottom: 10px;
justify-content: flex-starts;
   
   
}
.description2{
    display: flex;
    display: inline;
}